spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations: classpath:config/
  rabbitmq:
    host: localhost

management:
  security:
    enabled: false

server:
  port: 8888

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
    metadata-map:
      user.name: ${security.user.name}
      user.password: ${security.user.password}
  client:
    service-url:
      defaultZone: http://user:${REGISTRY_SERVER_PASSWORD:password}@localhost:8761/eureka/

security:
  user:
    name: user
    password: ${CONFIG_SERVER_PASSWORD:password}
